<h1>Teste técnico BDMG</h1>
<hello></hello>
<br />

<div>Escreva seu código HTML abaixo:</div>

<form
  [formGroup]="formGroup"
  *ngIf="cepResult$ | async; else loadingCepOrError"
>
  <mat-card>
    <mat-card-content>
      <div fxLayout="column" fxLayoutGap="10px">
        <mat-form-field>
          <mat-label>CEP</mat-label>
          <input formControlName="cep" mask="00000-000" matInput />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Rua</mat-label>
          <input formControlName="street" matInput />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Complemento</mat-label>
          <input formControlName="complement" matInput mask="0.000" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Bairro</mat-label>
          <input formControlName="neighborhood" matInput />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Cidade</mat-label>
          <input formControlName="city" matInput />
        </mat-form-field>

        <mat-form-field>
          <mat-label>UF</mat-label>
          <input formControlName="uf" matInput />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Código IBGE</mat-label>
          <input formControlName="ibgeCode" ngDisabled="true" matInput />
        </mat-form-field>

        <mat-form-field>
          <mat-label>GIA</mat-label>
          <input formControlName="gia" matInput />
        </mat-form-field>

        <mat-form-field>
          <mat-label>DDD</mat-label>
          <input formControlName="ddd" matInput />
        </mat-form-field>

        <mat-form-field>
          <mat-label>SIAFI</mat-label>
          <input formControlName="siafi" matInput />
        </mat-form-field>

        <button
          (click)="saveToLocalStorage()"
          color="primary"
          mat-raised-button
        >
          Salvar no LocalStorage
        </button>
        <button (click)="loadFromLocalStorage()" color="primary" mat-button>
          Carregar do LocalStorage
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</form>

<ng-template #loadingCepOrError>
  <ng-container *ngIf="!cepResultError; else error">
    <p>Carregando...</p>
  </ng-container>

  <ng-template #error>
    <div class="error-container" fxLayout="column" fxLayoutGap="5px">
      <span>Ocorreu um erro ao consultar o Cep 🙁</span>
      <a href="#" (click)="fetchCepData()">Tentar novamente.</a>
    </div>
  </ng-template>
</ng-template>
